* { 
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
}

/* Start of navBar */
.navBar {
    align-items: center;
    background-color: #333333;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    
}
.navTitle {
    font-family: 'Roboto';
    margin-left: 20px;
}

.navList {
    align-items: center;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 50%;
}

.links {
    color: slategray;
    text-decoration: none;
}

.btn {
    background-color: #14a2b8;
    border: none;
    box-shadow: 4px 4px black;
    color: whitesmoke;
    font-size: 20px;
    height: 40px;
    width: 100px;
}
/* End of navBar */
